:root {
  --background: #F0F0F3;
  --grey: #363636;
  --neuromorphism: drop-shadow(10px 10px 30px rgba(174, 174, 192, 0.4)) drop-shadow(-10px -10px 30px white);
}

@font-face {
  font-family: "Winkle";
  src: url('../content/font/Winkle-Regular.ttf');
}

/* style général */
html {
  background-color: var(--background);
  color: var(--grey);
  font-family: 'Archivo', sans-serif;
  cursor: none;
  padding-left: 10vw;
  padding-right: 10vw;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-weight: 500;
}

main {
  height: 100%;
}

/* curseur */
.cursor {
  position: fixed;
  pointer-events: none !important;
  z-index: 11;
}

.cursor2 {
  position: fixed;
  pointer-events: none !important;
  fill: var(--grey);
  z-index: 10;
}

/* header */
header {
  height: 70px;
}

/* presentation */
.ensemble-carte {
  height: 100vw;
}

.carte {
  border-radius: 6px;
  height: 100%;
  overflow: hidden;
  filter: drop-shadow(8px 8px 10px rgba(174, 174, 192, 0.4)) drop-shadow(-8px -8px 10px white);
  background-color: var(--background);
  backface-visibility: hidden;
  perspective: 1000px;
}

.carte-flip {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.2s;
}

.photo {
  width: 100%;
}

.carte-flip-avant {
  position: absolute;
}

.carte-flip-arriere {
  position: absolute;
  transform: rotateY(180deg);
}

.carte-flip-arriere>p {
  margin: 20px;
}

.carte-flip-arriere>p>strong {
  font-size: 2rem;
}

.texte-clique {
  font-family: Winkle, sans-serif;
  margin: 0;
}

.desc-carte-txt {
  display: flex;
  vertical-align: bottom;
}

.sourire {
  margin-left: 1%;
}

.desc-carte {}

/* version pc */
@media all and (min-width: 1526px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }
}
