:root {
  --background: #F0F0F3;
  --grey: #363636;
  --neuromorphism: drop-shadow(10px 10px 30px rgba(174, 174, 192, 0.4)) drop-shadow(-10px -10px 30px white);
}

@font-face {
  font-family: "Winkle";
  src: url('../content/font/Winkle-Regular.ttf');
}

/* style général */
html {
  background-color: var(--background);
  color: var(--grey);
  font-family: 'Archivo', sans-serif;
  cursor: none;
  padding-left: 10vw;
  padding-right: 10vw;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

h3 {
  font-weight: 600;
}

p {
  font-weight: 500;
  font-size: 0.75rem;
}

main {
  height: 100%;
}

a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

section {
  margin-top: 20%;
}
.bouton {
  filter: drop-shadow(8px 8px 10px rgba(174, 174, 192, 0.4)) drop-shadow(-8px -8px 10px white);
  background-color: var(--background);
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.winkle {
  font-family: 'Winkle', sans-serif;
}

/* curseur */
.cursor {
  position: fixed;
  pointer-events: none !important;
  z-index: 11;
}

.cursor2 {
  position: fixed;
  pointer-events: none !important;
  fill: var(--grey);
  z-index: 10;
}

/* header */
header {
  height: 70px;
}
/* nav */

nav {
  position: fixed;
  top: 0;
  right:0;
  left:0;
  bottom:40%;
  background-color: var(--grey);
  z-index: 2;
}

.rond {
  position: absolute;
  top: 0;
  left: 35%;
  right:35%;
  z-index: 3;
  width: 30%;
  height: 45px;
}

.menu-off {
  clip-path: circle(10.0% at 50% 0%);
}

.menu-off-b {
  clip-path: circle(10.0% at 50% 0%);
  animation: menuanimoff 0.5s ease-in;
}

.menu-on {
  clip-path: circle(97% at 50% 0%);
  animation: menuanim 0.5s ease-out;
}
.retour {
  position: fixed;
  top: 0;
  right:35%;
  left:35%;
  bottom:90%;
  background-color: var(--background);
  z-index: 2;
  justify-content: center;
  flex-direction:row;
  align-items:flex-start;
}

.retour-on {
  clip-path: circle(47% at 50% 0%);
  animation: retouranim 0.5s ease-out;
}

.retour-off {
  clip-path: circle(0% at 50% 0%);
  animation: retouranimoff 0.5s ease-in;
}

.croix {
  width: 20%;
  height: auto;
  margin-top: 5%;
}

@keyframes menuanim {
  0% {
    clip-path: circle(10.0% at 50% 0%);
  }
  100% {
    clip-path: circle(97% at 50% 0%);
  }
}

@keyframes menuanimoff {
  0% {
    clip-path: circle(97% at 50% 0%);
  }
  100% {
    clip-path: circle(10.0% at 50% 0%);
  }
}

@keyframes retouranim {
  0% {
    clip-path: circle(0.0% at 50% 0%);
  }
  100% {
    clip-path: circle(47% at 50% 0%);
  }
}

@keyframes retouranimoff {
  0% {
    clip-path: circle(47% at 50% 0%);
  }
  100% {
    clip-path: circle(0.0% at 50% 0%);
  }
}

/* presentation */
.ensemble-carte {
  height: 100vw;
}

.carte {
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
}

.carte-flip {
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.2s;
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo {
  width: 100%;
}

.carte-flip-avant {
  position: absolute;
  top: -20px;
}

.carte-flip-arriere {
  position: absolute;
  top: -20px;
  transform: rotateY(180deg);
}

.carte-flip-arriere>p {
  margin: 20px;
}

.carte-flip-arriere>p>strong {
  font-size: 2rem;
}

.texte-clique {
  font-family: Winkle, sans-serif;
  margin: 0;
  font-size: 1rem;
}

.desc-carte-txt {
  display: flex;
  vertical-align: bottom;
  height: 18px;
  min-width: 120px;
  margin-top: 45px;
  margin-right: 10px;
}

.sourire {
  margin-left: 1%;
}

.desc-carte {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.ensemble-bouton-tuto {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bouton-tuto {
  width: 50%;
  transition: transform 0.2s;
}

@keyframes fondu {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  85% {
    transform: scale(1.2);
    opacity: 0.8;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.bouton-tuto-txt {
  animation: fondu 0.5s ease-out;
}

/* competences */
#competences {
  display: grid;
}
.title-competences {
  margin-bottom: 0;
}

.galerie-competences {
  height: 55vw;
  padding-top: 20vw;
  overflow: hidden;
}

.bouton-voir {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 40%;
  text-align: center;
  overflow: hidden;
}


.moosic {
  animation: webapparition 2s ease-out;
}

.moosic-b {
  animation: webapparitionb 2s ease-out;
  transform: translateX(24%) translateY(-137%);
  width: 80%;
}

@keyframes webapparition {
  0% {
    opacity: 0;
    transform: translateX(-200%) translateY(160%);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes webapparitionb {
  0% {
    opacity: 0;
    transform: translateX(200%) translateY(160%);
  }

  100% {
    opacity: 1;
    transform: translateX(24%) translateY(-137%);
  }
}

.bouton-github {
  width: 65%;
  padding: 5%;
}

.liste-github {
  display: flex;
  justify-content: space-between;
}

.trait-github {
  transform: rotateZ(15deg) translateY(10%);
}

.logo-github {
  width: 20%;
}

.code {
  background-color: #0C0C0C;
  color: white;
  font-family: terminal;
  margin-top: 10%;
  margin-bottom: 20%;
}

.code-bottom {
  display: flex;
  justify-content: space-between;
}

.code-txt {
  margin: 0;
}

.code-underscore {
  position: relative;
  top: -1rem;
  left: 5.5rem;
  width: 4%;
}

.bouton-affichage {
  display: flex;
  justify-content: space-between;
}

/* mes outils */
.trie-grille {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bouton-grille {
  padding-left: 5%;
  padding-right: 5%;
}

/* mes productions */
.grille-projet {
  display: grid;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 25%;
  grid-gap: 10%;
}

.photo-item-grille {
  clip-path: circle(50% at 50% 50%);
}

.photo-item-grille:hover {
  animation:cercle 0.6s linear;
  clip-path: circle(70% at 50% 50%);
}

@keyframes cercle {
  0% {
    clip-path: circle(50% at 50% 50%);
  }
  50% {
    clip-path: circle(30% at 50% 50%);
  }
  100% {
    clip-path: circle(70% at 50% 50%);
  }
}

.grille-txt {
  font-weight: 600;
  text-align: center;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20%;
}

.reseaux-liste {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.reseaux-logo {
  width: 30px;
}

/* version pc */
@media all and (min-width: 1526px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }
}
